@using TMS.Utils
@model TMS.ViewModels.BusinessRuleViewModel
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "Business Rules";
}
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />

<style>
    .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
        padding: 0px 0px !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 24px !important;
            margin-top: 0px;
        }

    .select2-container--default .select2-selection--single, select {
        height: 24px !important;
        background: none;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: -2px;
        }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: rgba(104, 140, 150, 0.78);
        border: none;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #f7f5f5;
    }

    #criteriaeditordiv .select2-container--default .select2-selection--single {
        border: none;
    }


    label {
        font-weight: normal !important;
    }

    input[type="checkbox"] {
        margin: 4px 15px 0;
    }

    fieldset {
        border: 1px solid #D1D1D1;
        padding: 10px;
        margin: 1px 15px;
        background-color: #fff;
    }

    .rulefieldset legend {
        width: auto;
        background-color: #FFF;
        border: 0 solid #D1D1D1;
        color: #333;
        text-align: left;
        line-height: 25px;
        padding: 3px;
        text-decoration: none;
        margin-bottom: 0px;
        font-size: 14px;
    }

        .rulefieldset legend label {
            font-size: 14px;
            color: #333;
        }

    .general-form-heading {
        color: #303030;
        font-size: 17px;
        border-bottom: 1px solid #F1F0F5;
        font-weight: normal;
    }

    .general-form-sec-heading {
        font-size: 14px;
        font-weight: normal;
        color: #666;
        background-color: rgba(60, 141, 188, 0.2);
        padding-left: 5px;
        border-bottom: 1px dotted #E1E1E1;
        line-height: 30px;
    }

    .small-btn {
        padding: 2px 12px;
    }


    .jstree-default .jstree-clicked {
        background: none;
        border-radius: 0;
        box-shadow: none;
    }

    #criteriaeditordiv a {
        height: 30px !important;
        padding-top: 3px;
        padding-left: 10px;
        border: 1px solid #d2d6de;
        border-radius: 4px;
        display: inline-block;
        background: #FAFAFA;
        color: #333;
        width: 100%;
        cursor: pointer;
        width: 800px;
        margin-bottom: 3px;
    }

        #criteriaeditordiv a:hover {
            background: rgba(60, 141, 188, 0.2);
            color: #000;
            border: 1px solid #337ab7;
        }

        #criteriaeditordiv a span {
            float: left;
            display: block;
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 5px;
            line-height: 24px;
            text-align: right;
        }

    .operatorcss, .logicalcss, .fieldcss {
        padding-right: 20px;
    }

    .valuecss {
        border: 1px solid #d2d6de;
        width: 200px;
        background: #FFF;
        text-align: left !important;
        overflow: hidden;
        height: 24px;
        margin-top: -1px;
    }

        .logicalcss, .valuecss .removecss, .addcss {
            cursor: pointer;
        }

    .operatorcss, .fieldcss {
        background: url(/Content/img/criteria-drop.png) no-repeat center right;
        min-width: 100px;
        width: 200px;
    }

    .logicalcss {
        width: 30px;
    }

    .select-sublinks, .select-sublinks-single {
        position: absolute;
        min-width: 200px;
        max-width: 250px;
        font-size: 11px;
        z-index: 111;
    }

    .list-open {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 4px 5px rgba(0,0,0,0.15);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 22px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #3c8dbc 1px;
        outline: 0;
    }

    i {
        cursor: pointer;
    }

        i:hover {
            background: #eee;
        }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Edit Business Rule</h4>
            </div>
            <div class="box-body" style="padding: 15px 30px;">
                <form class="form-horizontal" role="form" id="form-business-rules" method="POST" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="busnessruleId" value="@Model.Id" />
                    <div class="row bottom-space">
                        <div class="col-md-6">
                            <label class="control-label">RULE NAME <font color="red">*</font></label>
                            <input id="rule-name" type="text" class="form-control" name="Name" value="@Model.Name" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">DESCRIPTION</label>
                            <textarea id="rule-description" class="form-control" name="Description" rows="4">@Model.Description</textarea>
                        </div>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">RULE FOR NEW REQUEST </h4>
                    </div>
                    <div class="row left-space">
                        <fieldset id="rulecriteria_fs" class="rulefieldset">
                            <legend>
                                @if (Model.Enable)
                                {
                                    <label><input type="checkbox" checked="checked" id="enableRule" name="enableRule">Match the below rules</label>
                                }
                                else
                                {
                                    <label><input type="checkbox" id="enableRule" name="enableRule">Match the below rules</label>
                                }
                            </legend>
                            <div id="criteriaeditordiv">
                                <!-- in this example the tree is populated from inline HTML -->
                                <ul id="root" class="list-unstyled"></ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">PEFORM ACTION</h4>
                    </div>
                    <div class="row left-space">
                        <div class="col-md-4">
                            <select id="action_brselect" data-role="action_brselect" style="width: 250px;" onchange="onSelectBRActionChange()"></select>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5"><select id="action_value_brselect" data-role="action_value_brselect" style="width:100%"></select></div>
                        <div class="col-md-2"><a id="add-action" class="btn btn-default small-btn" style="margin-left: 5px;">Add</a></div>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">ACTION SET</h4>
                    </div>
                    <div class="row left-space" style="padding-left: 30px;">
                        <table id="action-table" class="table table-striped">
                            <tbody>
                                <tr>
                                    <th width="50px">#</th>
                                    <th>Actions</th>
                                </tr>
                                @foreach (var item in Model.actionList)
                                {
                                    <tr class="actionSet" data-id='@item.Id' data-value='@item.Name'>
                                        <td><i class="fa fa-trash remove-action"></i></td>
                                        <td>@item.Mask</td>
                                    </tr>;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row left-space">
                        <h4 class="general-form-sec-heading">NOTIFICATION</h4>
                    </div>
                    <div class="row bottom-space left-space" style="padding-left: 30px;">
                        <label>Email the following helpdesks: </label>
                        <select id="ddl-helpdesk" multiple="multiple" name="helpdeskId" data-role="ddl-helpdesk"></select>
                    </div>
                    <br />
                    <div class="row alignCenter">
                        <a id="submitBtn" data-url="Update" class="btn btn-flat bg-olive" style="margin-right: 5px;">Update</a>
                        <a id="cancelBtn" href="/HelpDesk/BusinessRule/" class="btn btn-flat btn-default" style="margin-right: 5px;">Cancel</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script src="~/Scripts/helpdesk-businessrules.js"></script>
    <script>
        function addChildRule(parentNode, id) {
            @foreach (var item in Model.Rules)
                {
                <text>
            if ('@item.ParentId' === id) {
                var createdId = tree.jstree().create_node(parentNode, { "data": {
                    Logic: "@item.Logic",
                    LogicText: "@item.LogicText",
                    Criteria: "@item.Criteria",
                    CriteriaText: "@item.CriteriaText",
                    Condition: "@item.Condition",
                    ConditionText: "@item.ConditionText",
                    Value: "@Html.Raw(HttpUtility.JavaScriptStringEncode(item.Value))",
                    ValueMask: "@Html.Raw(HttpUtility.JavaScriptStringEncode(item.ValueMask))"
                }}, "last");
                addChildRule(createdId, @item.Id);
            }
            </text>
                }
        }

        function initData() {
            if (@Model.Rules.Count > 0) {
                addChildRule('#', '');
            } else {
                tree.jstree().create_node('#', { "data": {} }, "last");
            }
            //Hide logic at first row
            if (tree.jstree().get_node("#").children.length > 0) {
                var nodeId = tree.jstree().get_node("#").children[0];
                var node = tree.jstree().get_node(nodeId);
                var anchorTag = $("<a/>").append(node.text)[0];
                if (anchorTag.children[1].className.indexOf("invisible") == -1) {
                    anchorTag.children[1].className += " invisible";
                }
                tree.jstree().set_text(nodeId, anchorTag.innerHTML);
            }
            @foreach (var item in Model.helpdeskList)
            {
                <text>
            initDropdown($("#ddl-helpdesk"), '@item.Name', '@item.Id');
            </text>
            }
        }

        $(document)
            .ready(function() {
                initDropdownControl();
                initData();
            });

    </script>
} 