@{
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/appcss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>TM</b>S</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>TMS</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@ViewBag.LayoutAvatarURL" class="user-image" alt="User Image">
                                <span class="hidden-xs">@ViewBag.LayoutName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@ViewBag.LayoutAvatarURL" class="img-circle" alt="User Image" style="height: 45px;">
                                    <p>@ViewBag.LayoutName</p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/Manager/Profile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()
                                        }
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@ViewBag.LayoutAvatarURL" class="img-circle" alt="User Image" style="height: 45px;">
                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.LayoutName</p>
                        <i class="fa fa-circle text-success"></i> Online
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview @Html.Raw((controllerName == "Group") ? "active" : "")">
                        <a href="/Manager/Group">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <span>MANAGE DEPARTMENTS</span>
                        </a>
                    </li>
                    <li class="treeview @Html.Raw((controllerName == "ManageSC") ? "active" : "")">
                        <a href="#">
                            <i class="fa fa-gears"></i>
                            <span>MANAGE SYSTEM CONFIG</span>
                        </a>
                        <ul class="treeview-menu">
                            <li @Html.Raw((actionName == "Impact") ? "class='active'" : "")><a href="/Manager/ManageSC/Impact"><i class="fa fa-circle-o"></i>Impact</a></li>
                            <li @Html.Raw((actionName == "Urgency") ? "class='active'" : "")><a href="/Manager/ManageSC/Urgency"><i class="fa fa-circle-o"></i>Urgency</a></li>
                            <li @Html.Raw((actionName == "Priority") ? "class='active'" : "")><a href="/Manager/ManageSC/Priority"><i class="fa fa-circle-o"></i>Priority</a></li>
                            <li @Html.Raw((actionName == "Category") ? "class='active'" : "")><a href="/Manager/ManageSC/Category"><i class="fa fa-circle-o"></i>Category</a></li>
                            <li @Html.Raw((actionName == "PriorityMatrix") ? "class='active'" : "")><a href="/Manager/ManageSC/PriorityMatrix"><i class="fa fa-circle-o"></i>Priority Matrix</a></li>
                        </ul>
                    </li>
                    <li class="treeview @Html.Raw((controllerName == "Profile") ? "active" : "")">
                        <a href="/Manager/Profile">
                            <i class="fa fa-user"></i>
                            <span>PROFILE</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="box box-solid bg-blue big-title">
                    <div class="box-header">
                        <h3>@ViewBag.Title</h3>
                    </div>
                </div>
            </section>
            <div id="flash-message" class="alert alert-success" style="display: none">
                <i class="fa fa-check fa-2"></i>
            </div>
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1.1
            </div>
            <strong>Copyright &copy; 2016-2016 <a href="http://tms.com">Group 4</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".datetime").datetimepicker({
                timepicker: false,
                format: 'd/m/Y'
            });
            notifyFlashMessage();
            //$.validator.addMethod("date", function (value, element) {
            //    Globalize.culture("en-GB");
            //    return this.optional(element) || Globalize.parseDate(value) !== null;
            //});
        });
    </script>
</body>
</html>