@model TMS.ViewModels.BasicTicketViewModel
@{
    Layout = "~/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "TMS - Ticket #" + Model.Code;
}
<style>
    .labels {
        font-size: 13px;
    }

    input, textarea {
        max-width: 900px;
    }

    #unapproved {
        text-decoration: underline;
    }

    .vertical-center {
        clear: left;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    .vertical-bottom {
        display: inline-block;
        vertical-align: bottom;
        float: none;
    }

    .status {
        color: #ffffff;
    }

    .column-body {
        float: left;
        padding: 7px 15px;
        line-height: 12px;
        border-right: solid 1px #ffffff;
    }

        .column-body:first-of-type {
            padding-top: 15px;
            border-right: none;
        }

        .column-body:last-of-type {
            border-right: none;
        }

    .row-content {
        padding-bottom: 15px;
    }

    .no-pad-left {
        padding-left: 0px;
    }

    .bg-light-green {
        background-color: #D2EDDE;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <a href="/Index" style="font-size: 16px; padding: 15px 10px" ><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Back to Ticket list</a>
        <div class="box box-solid" style="margin-top: 15px">
            <div class="box-header no-padding">
                <div class="col-lg-1 col-sm-2 no-padding text-center">
                    <h4 class="text-bold text-muted" style="font-size: 18px">#@Html.DisplayFor(model => model.Code)</h4>
                </div>
                <div class="col-lg-8 col-sm-7" style="padding: 7px 15px">
                    <p class="text-bold text-green" style="font-size: 18px">@Html.DisplayFor(model => model.Subject)</p>
                </div>
                <div class="col-lg-2 col-sm-2 text-center pull-right" style="padding: 7px">
                    <span class="text-muted">Date created</span><br />
                    <span class="text-green">@Html.DisplayFor(model => model.CreatedTime) </span>
                </div>
            </div>
            <div class="box-body no-padding bg-light-green">
                @switch (Model.Status)
                {
                    case 1:
                        <div class="col-lg-1 col-sm-2 text-center column-body status bg-aqua" id="status-div">New</div> break;
                    case 2:
                        <div class="col-lg-1 col-sm-2 text-center column-body status bg-orange" id="status-div">Assigned</div> break;
                    case 3:
                        <div class="col-lg-1 col-sm-2 text-center column-body status bg-green" id="status-div">Solved</div> break;
                    case 4:
                        <div class="col-lg-1 col-sm-2 text-center column-body status bg-red-active" id="status-div">Unapproved</div> break;
                    case 5:
                        <div class="col-lg-1 col-sm-2 text-center column-body status bg-gray" id="status-div">Cancelled</div> break;
                    case 6:
                        <div class="col-lg-1 col-sm-2 text-center column-body status bg-gray" id="status-div">Closed</div> break;
                }
                <div class="col-lg-2 col-sm-2 column-body">
                    <p class="labels">Mode: &nbsp;&nbsp;&nbsp;</p>
                    @Html.DisplayFor(model => model.Mode)
                </div>
                <div class="col-lg-4 col-sm-3 column-body">
                    <p class="labels">Created by: &nbsp;&nbsp;&nbsp;</p>
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
                <div class="col-lg-5 col-sm-5 column-body">
                    <p class="labels">Category: &nbsp;&nbsp;&nbsp;</p>
                    @Html.DisplayFor(model => model.Category)
                </div>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-body no-pad-left">
                <div class="col-lg-1 col-sm-2 text-bold">Description: </div>
                <div class="col-lg-11 col-sm-10"><span class="pre-wrap" id="ticket-description">@Html.DisplayFor(model => model.Description)</span></div>
            </div>
            <div class="box-footer no-pad-left bg-light-green">
                <div class="col-lg-1 col-sm-2 text-bold">Attachment: </div>
                <div class="col-sm-10">
                @if (!string.IsNullOrWhiteSpace(Model.DescriptionAttachment))
                {
                    <span id="ticket-attachment">@Html.Raw(Model.DescriptionAttachment)</span>
                }
                else
                {
                    <span id="ticket-attachment">None</span>
                }
                </div>
            </div>
        </div>

        @if (Model.Solution == "-")
        {
            <div class="col-sm-12 text-center text-"><span><i>This ticket is not solved yet.</i></span></div>
        }
        else
        {
            <div class="box box-solid">
                <div class="box-body no-pad-left">
                    <div class="col-lg-1 col-sm-2 text-bold">Solution: </div>
                    <div class="col-lg-11 col-sm-10">
                        <p class="pre-wrap" id="ticket-solution">@Html.DisplayFor(model => model.Solution)</p>
                        <span class="text-bold text-green">Solved by </span>@Html.DisplayFor(model => model.SolvedBy)
                        <span class="text-bold text-green"> on </span>@Html.DisplayFor(model => model.SolvedTime)
                    </div>
                </div>
                <div class="box-footer no-pad-left bg-light-green">
                    <div class="col-lg-1 col-sm-2 text-bold">Attachment: </div>
                    <div class="col-lg-5 col-sm-4">
                        @if (!string.IsNullOrWhiteSpace(Model.SolutionAttachment))
                        {
                            <span id="ticket-attachment">@Html.Raw(Model.SolutionAttachment)</span>
                        }
                        else
                        {
                            <span id="ticket-attachment">None</span>
                        }
                    </div>
                </div>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.UnapproveReason))
        {
            <div class="box box-solid">
                <div class="box-body no-pad-left bg-light-green">
                    <div class="col-lg-1 col-sm-2 text-bold">Unapproved reason: </div>
                    <div class="col-lg-11 col-sm-10">
                        <p class="pre-wrap" id="ticket-solution">@Html.DisplayFor(model => model.UnapproveReason)</p>
                    </div>
                </div>
            </div>
        }


        @if (Model.Status == 3)
            {
            <div class="box box-solid">
                <div class="box-body" id="approve-ticket">
                    <div class="col-sm-12" style="text-align: center">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="hidden" id="ticketId" value="@Model.ID" />
                            <a href="javascript:void{0}" id="unapproved" class="text-red">Click here</a>
                            <span class="text-red"> if this solution didn't solve your problem!</span>
                        </div>
                    </div>
                    <div id="feedback-form" class="hidden">
                        <div class="col-sm-12" style="text-align: left">
                            <div class="col-lg-offset-1 col-lg-8 col-sm-offset-2 col-sm-6 vertical-center">
                                Please tell us what's wrong with this solution?
                            </div>
                            <div class="col-lg-2 col-sm-2 vertical-center" style="text-align: right; padding-right: 17px">
                                <a href="javascrip:void{0}" id="submitBtn" style="width: 80px" class="btn btn-success btn-flat">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Send
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-lg-offset-1 col-lg-10 col-sm-offset-2 col-sm-8">
                                @Html.TextAreaFor(m => m.UnapproveReason, new { @class = "form-control", id = "feedback", rows = "6" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#status-div").css("height", $(".column-body:last-of-type").outerHeight());
        });

        $(document).on('click', '#see-more', function (event) {
            $(this).parent().trunk8('revert').append('<br/><a id="see-less" href="javascript:void{0}">See Less</a>');
            $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
            return false;
        });

        $(document).on('click', '#see-less', function (event) {
            $(this).parent().trunk8();
            return false;
        });

        $('#ticket-solution, #ticket-description').trunk8({
            tooltip: false,
            lines: 5,
            fill: '&hellip; <a id="see-more" href="javascript:void{0}">See More</a>'
        });

        $(document).on('click', '#see-less', function (event) {
            $(this).parent().trunk8();
            return false;
        });

        $('#unapproved').on('click', function () {
            if ($('#unapproved').hasClass('active')) {
                $('#feedback-form').addClass('hidden');
                $('#unapproved').removeClass('active');
            }
            else {
                $('#feedback-form').removeClass('hidden');
                $('#unapproved').addClass('active')
                $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
                $('#feedback').focus();
            }
        });

        $("#submitBtn").on("click", function () {
            var id = $("#ticketId").val();
            var fb = $("#feedback").val();
            if (fb === null || fb.trim() == "") {
                noty({
                    text: "Please tell us what's wrong with this solution!",
                    layout: "topRight",
                    type: "error",
                    timeout: 2000
                });
            } else {
                $.ajax({
                    url: '/Ticket/ApproveTicket/',
                    type: "POST",
                    data: {
                        id: id,
                        unapprovedreason: fb,
                    },
                    success: function (data) {
                        if (!data.success) { //
                            noty({
                                text: data.msg,
                                layout: "topRight",
                                type: "error",
                                timeout: 2000
                            });
                        }
                        else {
                            noty({
                                text: data.msg,
                                layout: "topRight",
                                type: "success",
                                timeout: 2000
                            });
                        }
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    },
                    error: function (data) {
                        noty({
                            text: "Cannot connect to server! Please try again later!",
                            type: "error",
                            layout: "topRight",
                            timeout: 2500
                        });
                    }
                });
            }
        });
    </script>
}



