@model TMS.ViewModels.TicketViewModel
@{
    Layout = "~/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "Ticket #" + @Model.Code;
}
@{
    if (ViewBag.Role == "Technician")
    {
        Layout = "~/Areas/Technician/Views/Shared/_TopLayout.cshtml";
    }
    else
    {
        Layout = "~/Areas/HelpDesk/Views/Shared/_Layout.cshtml";
    }

}
<style>
    .nav-stacked > li {
        border-bottom: 1px solid #f4f4f4;
        margin: 0;
    }

    .editable {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.42857143;
        word-wrap: break-word;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .solution-subject {
        cursor: pointer;
    }

    .solution-content {
        white-space: pre-wrap;
    }

    .timeline > li > .timeline-item {
        margin-left: 0px;
        margin-right: 0px;
    }

    h4, h5 {
        color: #345aaa;
        font-weight: bold;
    }

    .header-content {
        border-bottom: 1px solid #a6c6e9;
        padding: 20px 0px 0px 30px;
        margin-bottom: 5px;
    }

    .row-content {
        padding: 5px 0px;
    }

    .datetimerow {
        line-height: 20px;
    }

    input, textarea {
        max-width: 800px;
    }

    .pre-wrap {
        white-space: pre-wrap;
    }

    .button {
        text-align: center;
    }

    .border-button {
        border-right: 1px solid #939393;
    }

    .row-button {
        text-align: center;
        margin-left: 15px;
        width: 70px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body ticket-contents">
                <div class="col-sm-12 header-content">
                    <h4><i class="fa fa-info-circle"></i>  Detail</h4>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Created by: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.CreatedBy)</div>
                    </div>
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Type: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Type)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Assigned by: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.AssignedBy)</div>
                    </div>
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Mode: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Mode)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Category: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Category)</div>
                    </div>
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Status:  </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Status)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Impact: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Impact)</div>
                    </div>
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Urgency: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Urgency)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Impact Detail: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.ImpactDetail)</div>
                    </div>
                    <div class="col-sm-6 col-content ">
                        <div class="col-sm-4 labels">
                            <b>Priority: </b>
                        </div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Priority)</div>
                    </div>
                </div>
                <div class="col-sm-12 header-content">
                    <h4><i class="fa fa-clock-o"></i>  Date and time</h4>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6">
                        <div class="col-sm-4 labels">
                            <b>Created date: </b>
                        </div>
                        <div class="col-sm-8 datetimerow">@Html.DisplayFor(model => model.CreatedTime)</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4 labels">
                            <b>Last modified date: </b>
                        </div>
                        <div class="col-sm-8 datetimerow">@Html.DisplayFor(model => model.ModifiedTime)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6">
                        <div class="col-sm-4 labels">
                            <b>Scheduled start time: </b>
                        </div>
                        <div class="col-sm-8 datetimerow">@Html.DisplayFor(model => model.ScheduleStartDate)</div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="col-sm-4 labels">
                            <b>Schedule end time: </b>
                        </div>
                        <div class="col-sm-8 datetimerow">@Html.DisplayFor(model => model.ScheduleEndDate)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content">
                    <div class="col-sm-6 ">
                        <div class="col-sm-4 labels">
                            <b>Actual start time: </b>
                        </div>
                        <div class="col-sm-8 datetimerow">@Html.DisplayFor(model => model.ActualStartDate)</div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="col-sm-4 labels">
                            <b>Actual end time: </b>
                        </div>
                        <div class="col-sm-8 datetimerow">@Html.DisplayFor(model => model.ActualEndDate)</div>
                    </div>
                </div>
                <div class="col-sm-12 header-content">
                    <h4><i class="fa fa-file-text"></i>  Information</h4>
                </div>
                <div class="col-sm-12 row-content ">
                    <div class="col-sm-12">
                        <div class="col-sm-2 labels">
                            <b>Subject: </b>
                        </div>
                        <div class="col-sm-10" id="Subject">@Html.DisplayFor(model => model.Subject)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content ">
                    <div class="col-sm-12">
                        <div class="col-sm-2 labels">
                            <b>Description: </b>
                        </div>
                        <div class="col-sm-10 pre-wrap">@Html.DisplayFor(model => model.Description)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content ">
                    <div class="col-sm-12">
                        <div class="col-sm-2 labels">
                            <b>Attachment: </b>
                        </div>
                        <div class="col-sm-10 pre-wrap">@Html.DisplayFor(model => model.DescriptionAttachments)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content ">
                    <div class="col-sm-12">
                        <div class="col-sm-2 labels">
                            <b>Solved by:  </b>
                        </div>
                        <div class="col-sm-10">@Html.DisplayFor(model => model.SolvedBy)</div>
                    </div>
                </div>
                <div class="col-sm-12 row-content ">
                    <div class="col-sm-12">
                        <div class="col-sm-2 labels">
                            <b>Solution: </b>
                        </div>
                        <div class="col-sm-10">
                            @Html.DisplayFor(model => model.Solution)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 row-content ">
                    <div class="col-sm-12">
                        <div class="col-sm-2 labels">
                            <b>Attachment: </b>
                        </div>
                        <div class="col-sm-10 pre-wrap">@Html.DisplayFor(model => model.SolutionAttachments)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
