@model TMS.ViewModels.KnowledgeBaseViewModel
@{
    Layout = "~/Views/Shared/KBLayout.cshtml";
    var relatedSolution = ViewBag.relatedSolution;
}
@using TMS.Models;
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />

<style>
    .post-title {
        font-size: 30px !important;
    }

    .category-item li {
        background: none;
    }

    #all-articles li {
        list-style: none;
    }

    .subcategory-item {
        padding-left: 20px;
    }

    .widget ul li {
        border-bottom: none;
    }

    .jstree-anchor {
        border: none;
    }

    .jstree-default .jstree-clicked {
        color: #0094ff;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .jstree-anchor:hover {
        color: #0094ff;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .link-color, .category-link {
        color: #3393d8;
    }

    #all-articles {
        min-height: 100px !important;
    }

    .holder {
        text-align: center;
    }

        .holder a {
            font-size: 13px;
            cursor: pointer;
            color: #458dc2;
            padding: 5px 15px;
            border: solid 1px #bfbfbf;
            border-right: none;
        }

            .holder a:last-of-type {
                border-right: solid 1px #bfbfbf;
            }

            .holder a:hover {
                color: #fff;
                background-color: #3393d8;
            }

            .holder a.jp-current, a.jp-current:hover {
                color: #fff;
                background-color: #3393d8 !important;
                font-weight: bold;
            }

            .holder a.jp-disabled, a.jp-disabled:hover {
                color: #808080;
                background-color: #e9e8e8 !important;
            }

            .holder a.jp-current, a.jp-current:hover, .holder a.jp-disabled, a.jp-disabled:hover {
                cursor: default;
                background: none;
            }

        .holder span {
            font-size: 13px;
            color: #161616;
            padding: 5px 15px;
            border: solid 1px #bfbfbf;
            border-right: none;
        }

    .keywords {
        margin-left: 0px;
        margin-bottom: 35px;
        float: left;
        list-style: none;
    }

        .keywords li {
            float: left;
            display: inline-block;
            margin-right: 1em;
        }

    .key-tags {
        position: relative;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        background-color: #e6e6e6;
        border-left: solid 5px #3393d8;
        color: #191919;
    }
</style>

<div class="col-lg-12">
    <div class="span8 page-content">
        <div id="main-title" style="padding-left: 25px"></div>
        <ul id="all-articles">
            <li>
                <article class="type-post format-standard hentry clearfix">
                    <h1 class="post-title">@Html.DisplayFor(m => m.Subject)</h1>
                    <div class="post-meta clearfix">
                        <span class="date">@Html.DisplayFor(m => m.CreatedTime)</span>
                        <span class="category"><a class="category-link" id="@Model.CategoryID" href="/FAQ/Category/@Model.Category">@Html.DisplayFor(m => m.CategoryPath)</a></span>
                    </div>
                    <p class="pre-wrap">@Html.Raw(Model.Content)</p>
                    <p><ul class="keywords" id="keyword">@Model.Keyword</ul></p>
                </article>
            </li>
        </ul>
        <div class="holder hidden"></div>
    </div>
    <aside class="span4 page-sidebar">
        <section class="widget">
            <h3 class="title">Related Articles</h3>
            <ul class="articles">
                @foreach (Solution solution in relatedSolution)
                {
                    <li class="article-entry standard">
                        <h4><a class="link-color" href="/FAQ/Detail/@solution.Path">@solution.Subject</a></h4>
                        <span class="article-meta">@solution.CreatedTime in <a class="category-link" id="@solution.CategoryID" href="javascript:void{0}">@solution.Category.Name</a></span>
                    </li>
                }
            </ul>
        </section>
        <section class="widget">
            <h3 class="title">Categories</h3>
            <div id="category-treeview-div">
            </div>
        </section>
    </aside>
</div>
@section scripts {
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script>
        $(document).ready(function () {
            showTreeViewModal();
            loadKeyword($("#keyword").html(), $("#keyword"));
        });

        $('.category-link').on("click", function () {
            loadFAQ($(this).attr("id"));
        });

        function loadKeyword(keyword, obj) {
            var keywordTags = (keyword).split(',');
            $(obj).empty();
            if (keywordTags[0] != "-") {
                for (j = 0; j < keywordTags.length; j++) {
                    var key = keywordTags[j].replace(/"/g, '');
                    $(obj).append('<li><div class="key-tags"><a href="/FAQ/Tags/' + key + ' ">' + key + '</a></div></li>');
                }
            }
        }

        //function loadFAQ(id, categoryName) {
        //    $.ajax({
        //        url: "/FAQ/GetFAQ",
        //        type: "GET",
        //        data: {
        //            id: id,
        //            key_search: $('#search-solution').val()
        //        },
        //        success: function (data) {
        //            $('#all-articles').empty();
        //            var key_search = $('#search-solution').val();
        //            if (key_search) {
        //                if (data.data.length >= 1) {
        //                    $("#main-title").empty().append("<h4>There are " + data.data.length + " results matched with keyword <i>" + $('#search-solution').val() + ".<i></h4>");
        //                } else {
        //                    $("#main-title").empty().append("<h4>There is no result matched with keyword <i>" + $('#search-solution').val() + "<i></h4>");
        //                }
        //            } else if (categoryName) {
        //                $("#main-title").empty().append("<h1>Category: " + categoryName + "</h1>");
        //            } else {
        //                $("#main-title").empty();
        //            }
        //            if (data.data.length == 0) {
        //                $("#all-articles").append("<p style='text-align: center'><i>There is no solution to display.</i></p>");
        //            } else {
        //                for (i = 0; i < data.data.length; i++) {
        //                    var content = data.data[i].Content;
        //                    content = $.truncate(content, {
        //                        length: 350,
        //                    });
        //                    var sId = data.data[i].ID;
        //                    var keywordTags = (data.data[i].Keyword).split(',');
        //                    $('#all-articles').append(
        //                        '<li><article class="type-post format-standard hentry clearfix">'
        //                        + '<br/><h2 class="post-title"><a href="/FAQ/Detail?Path=' + data.data[i].Path + '">' + data.data[i].Subject + '</a></h2>'
        //                        + '<div class="post-meta clearfix">'
        //                        + '<span class="date">' + formatDateTime(new Date(parseInt(data.data[i].ModifiedTime.substr(6)))) + '</span>'
        //                        + '<span class="category" id=' + data.data[i].CategoryID + ' data-id=' + data.data[i].Category + '><a class="link-color" href="#">' + data.data[i].CategoryPath + '</a></span></div>'
        //                        + '<p class="longContent">' + content + '</p><a class="link-color" href="/FAQ/Detail?Path=' + data.data[i].Path + '"> Continue reading</a>'
        //                        + '<p><ul class="keywords" id="keyword' + sId + '"></ul></p></article></li>');
        //                    $("#keyword" + sId).empty();
        //                    if (keywordTags[0] != "-") {
        //                        for (j = 0; j < keywordTags.length; j++) {
        //                            var key = keywordTags[j].replace(/"/g, '');
        //                            $("#keyword" + sId).append("<li><div class='key-tags'><span>" + key + "<span><div></li>");
        //                        }
        //                    }
        //                }
        //                if (data.data.length > 5) {
        //                    $('div.holder').removeClass("hidden");
        //                    $('div.holder').jPages({
        //                        containerID: "all-articles",
        //                        perPage: 5,
        //                        startPage: 1,
        //                        startRange: 1,
        //                        midRange: 2,
        //                        endRange: 1,
        //                        first: "First",
        //                        last: "Last",
        //                        previous: "Previous",
        //                        next: "Next",
        //                    });
        //                } else {
        //                    $('div.holder').addClass("hidden");
        //                }
        //                $("#all-articles").find('img').hide();
        //            }
        //        }
        //    });
        //}

        var showTreeViewModal = function () {
            $("#category-treeview-div").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "stripes": false,
                        "icons": false,
                        "dots": false
                    },
                    "data": {
                        "url": "/FAQ/GetCategoryTreeViewData",
                        "type": "GET",
                        "contentType": "application/json; charset=utf-8",
                        "dataFilter": function (json) {
                            var data = $.parseJSON(json);
                            var nodes = [];
                            for (i = 0; i < data.data.length; i++) {
                                var dataItem = data.data[i];
                                var node = {
                                    id: dataItem.ID,
                                    parent: dataItem.ParentId == null ? "#" : dataItem.ParentId,
                                    text: dataItem.Name,
                                    state: {
                                        'opened': false,
                                        'selected': false
                                    },
                                    li_attr: {
                                        "style": ""
                                    },
                                    a_attr: {
                                        "data-id": dataItem.ID,
                                        "name": "Category",
                                        "href": "/FAQ/Category/" + dataItem.Name,
                                        "class": "category-node"
                                    }
                                };
                                nodes.push(node);
                            }
                            return JSON.stringify(nodes);
                        }
                    }
                },
            });
        };

        //$("#all-articles").on("click", ".category", function () {
        //    loadFAQ($(this).attr("id"), $(this).attr("data-id"));
        //});

        $('#category-treeview-div').on("select_node.jstree", function (e, data) {
            window.location.href = data.node.a_attr.href;
            $('#search-solution').val('');
            //loadFAQ(data.node.id, data.node.text);
        });
    </script>
}
