@model TMS.ViewModels.KnowledgeBaseViewModel
@{
    Layout = "~/Views/Shared/KBLayout.cshtml";
    var relatedSolution = ViewBag.relatedSolution;
}
@using TMS.Models;
<link rel="stylesheet" href="~/Content/Plugins/jstree/style.min.css" />

<style>
    .post-title {
        font-size: 30px !important;
    }

    .category-item li {
        background: none;
    }

    #all-articles li {
        list-style: none;
    }

    .subcategory-item {
        padding-left: 20px;
    }

    .widget ul li {
        border-bottom: none;
    }

    .jstree-anchor {
        border: none;
    }

    .jstree-default .jstree-clicked {
        color: #0094ff;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .jstree-anchor:hover {
        color: #0094ff;
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .link-color, .category-link {
        color: #3393d8;
    }

    #all-articles {
        min-height: 100px !important;
    }

    .holder {
        text-align: center;
    }

        .holder a {
            font-size: 13px;
            cursor: pointer;
            color: #458dc2;
            padding: 5px 15px;
            border: solid 1px #bfbfbf;
            border-right: none;
        }

            .holder a:last-of-type {
                border-right: solid 1px #bfbfbf;
            }

            .holder a:hover {
                color: #fff;
                background-color: #3393d8;
            }

            .holder a.jp-current, a.jp-current:hover {
                color: #fff;
                background-color: #3393d8 !important;
                font-weight: bold;
            }

            .holder a.jp-disabled, a.jp-disabled:hover {
                color: #808080;
                background-color: #e9e8e8 !important;
            }

            .holder a.jp-current, a.jp-current:hover, .holder a.jp-disabled, a.jp-disabled:hover {
                cursor: default;
                background: none;
            }

        .holder span {
            font-size: 13px;
            color: #161616;
            padding: 5px 15px;
            border: solid 1px #bfbfbf;
            border-right: none;
        }

    .ibtn-primary {
        background-color: #3c8dbc;
        border-color: #367fa9;
        color: #fff;
    }

    .ibtn-primary:hover {
        background-color: #3c8cbc;
        border-color: #367fa9;
        color: #fff;
    }

    .ibtn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
</style>

<div class="col-lg-12">
    <div class="span8 page-content">
        <div id="main-title" style="padding-left: 25px"></div>
        <ul id="all-articles">
            <li>
                <article class="type-post format-standard hentry clearfix">
                    <h1 class="post-title">@Html.DisplayFor(m => m.Subject)</h1>
                    <div class="post-meta clearfix">
                        <span class="date">@Html.DisplayFor(m => m.CreatedTime)</span>
                        <span class="category"><a class="category-link" id="@Model.CategoryID" href="/FAQ/Category/@Model.Category">@Html.DisplayFor(m => m.CategoryPath)</a></span>
                    </div>
                    <p class="pre-wrap">@Html.Raw(Model.Content)</p>
                    <p><ul class="keywords" id="keyword">@Model.Keywords</ul></p>
                </article>
                <div class="pre-wrap">@Html.Raw(Model.SolutionAttachmentsURL)</div>
            </li>
        </ul>
        <div class="holder hidden"></div>
    </div>
    <aside class="span4 page-sidebar">
        <section class="widget">
            <h3 class="title">Related Articles</h3>
            <ul class="articles">
                @foreach (Solution solution in relatedSolution)
                {
                    <li class="article-entry standard">
                        <h4><a class="link-color" href="/FAQ/Detail/@solution.Path">@solution.Subject</a></h4>
                        <span class="article-meta">@solution.CreatedTime in <a class="category-link" id="@solution.CategoryID" href="javascript:void{0}">@solution.Category.Name</a></span>
                    </li>
                }
            </ul>
        </section>
        <section class="widget">
            <h3 class="title">Categories</h3>
            <div id="category-treeview-div">
            </div>
        </section>
    </aside>
</div>
@section scripts {
    <script src="~/Content/Plugins/jstree/jstree.min.js"></script>
    <script>
        $(document).ready(function () {
            showTreeViewModal();
            loadKeyword($("#keyword").html(), $("#keyword"));
        });

        $('.category-link').on("click", function () {
            loadFAQ($(this).attr("id"));
        });

        function loadKeyword(keyword, obj) {
            var keywordTags = (keyword).split(',');
            $(obj).empty();
            if (keywordTags[0] != "") {
                for (j = 0; j < keywordTags.length; j++) {
                    var key = keywordTags[j].replace(/"/g, '');
                    $(obj).append('<li><div class="key-tags"><a href="/FAQ/Tags/' + key + ' ">' + key + '</a></div></li>');
                }
            }
        }

        var showTreeViewModal = function () {
            $("#category-treeview-div").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "stripes": false,
                        "icons": false,
                        "dots": false
                    },
                    "data": {
                        "url": "/FAQ/GetCategoryTreeViewData",
                        "type": "GET",
                        "contentType": "application/json; charset=utf-8",
                        "dataFilter": function (json) {
                            var data = $.parseJSON(json);
                            var nodes = [];
                            for (i = 0; i < data.data.length; i++) {
                                var dataItem = data.data[i];
                                var node = {
                                    id: dataItem.ID,
                                    parent: dataItem.ParentId == null ? "#" : dataItem.ParentId,
                                    text: dataItem.Name,
                                    state: {
                                        'opened': false,
                                        'selected': false
                                    },
                                    li_attr: {
                                        "style": ""
                                    },
                                    a_attr: {
                                        "data-id": dataItem.ID,
                                        "name": "Category",
                                        "href": "/FAQ/Category/" + dataItem.Name,
                                        "class": "category-node"
                                    }
                                };
                                nodes.push(node);
                            }
                            return JSON.stringify(nodes);
                        }
                    }
                },
            });
        };

        $('#category-treeview-div').on("select_node.jstree", function (e, data) {
            window.location.href = data.node.a_attr.href;
            $('#search-solution').val('');
        });
    </script>
}
