@{
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container" style="min-width: 1000px">
                    <div class="navbar-header">
                        <a href="/Helpdesk/Home" class="navbar-brand"><b>TMS</b></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            @RenderSection("SidebarMenu", false)
                            <li class="@Html.Raw((controllerName == "ManageTicket" || controllerName == "Ticket") ? "active" : "")"><a href="/Helpdesk/ManageTicket">Ticket</a></li>
                            <li class="@Html.Raw((controllerName == "KnowledgeBase") ? "active" : "")"><a href="/KnowledgeBase">Knowledge Base</a></li>
                            <li class="@Html.Raw((controllerName == "BusinessRule") ? "active" : "")"><a href="/Helpdesk/BusinessRule">Business Rules</a></li>
                            <li class="@Html.Raw((controllerName == "Report") ? "active" : "")"><a href="/Helpdesk/Report">Report</a></li>
                            <li class="@Html.Raw((controllerName == "Profile") ? "active" : "")"><a href="/Helpdesk/Profile">My profile</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Notifications Menu -->
                            <li class="dropdown notifications-menu">
                                <!-- Menu toggle button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning" id="notification-count"></span>
                                </a>
                                <ul class="dropdown-menu" style="width: 400px;">
                                    <li>
                                        <ul class="menu" id="notification-list"></ul>
                                    </li>
                                    @*<li class="footer"><a href="#">View all</a></li>*@
                                </ul>
                            </li>
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="@ViewBag.LayoutAvatarURL" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">@ViewBag.LayoutName</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="@ViewBag.LayoutAvatarURL" class="img-circle" alt="User Image">
                                        <p>@ViewBag.LayoutName</p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="/HelpDesk/Profile" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()
                                            }
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-custom-menu -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </header>
        <!-- Full Width Column -->
        <div class="content-wrapper bg-lighter-blue">
            <div class="container" style="min-width: 1000px; padding-top: 20px">
                @RenderBody()
                <!-- /.content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer bg-blue text-white">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.1.1
            </div>
            <strong>Copyright &copy; 2016-2017 <a href="http://tms.com" class="text-white">Group 4</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    @RenderSection("InitModal", false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("InitScript", false)
    @RenderSection("Scripts", false)
    <script src="~/Content/custom-js/notification-menu-bar.js"></script>
</body>
</html>