@model TMS.Models.Ticket
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Create New Ticket</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       @* @Html.HiddenFor(model => model.ID)*@
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-xs-4" })
                                    <div class="col-md-8">

                                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" }, cols = 50, rows = 3 })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UrgencyID, "Urgency", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("UrgencyID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.UrgencyID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PriorityID, "Priority", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("PriorityID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PriorityID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryID, "Category", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImpactID, "Impact", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("ImpactID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ImpactID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImpactDetail, "Impact Detail", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.ImpactDetail, new { htmlAttributes = new { @class = "form-control" }, cols = 50, rows = 3 })
                                        @Html.ValidationMessageFor(model => model.ImpactDetail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TechnicianID, "Assigned To", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("TechnicianID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TechnicianID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DepartmentID, "Department", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequesterID, "Requester", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @*@Html.EditorFor(model => model.RequesterID, new { htmlAttributes = new { @class = "form-control" } })*@

                                        @*@Html.DropDownList("RequesterID", null, htmlAttributes: new {@class = "form-control"})*@
                                        <input class="form-control text-box single-line" id="requester-name" name="Requester Name" type="text" value="" readonly>
                                        @Html.HiddenFor(model => model.RequesterID)
                                        @Html.ValidationMessageFor(model => model.RequesterID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <a href="javascript:showRequester()"><img class="userslookup" src="~/Content/img/add-requester-icon.ico" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Solution, htmlAttributes: new { @class = "control-label col-xs-2" })
                                    <div class="col-xs-10">
                                        @Html.TextAreaFor(model => model.Solution, new { htmlAttributes = new { @class = "form-control" }, cols = 100, rows = 3 })
                                        @Html.ValidationMessageFor(model => model.Solution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-offset-2 col-xs-10">
                                @*<a class="btn btn-block bg-olive btn-flat" href='@Url.Action("Create", "ManageTicket")' ">*@

                                    <input type="submit" value="Save" class="btn btn-default bg-olive btn-flat" />
</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div id="modal-add-requester" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select requester</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" id="requester-table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Department Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Job Title
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        var requesterTable = null;

        $(document)
            .ready(function () {
                setActiveTicketMenu();
                initRequesterTable();
            });

        function showRequester() {
            requesterTable.fnDraw();
            $("#modal-add-requester").modal("show");
        }

        function initRequesterTable() {
            requesterTable = $("#requester-table")
                .dataTable({
                    processing: true,
                    serverSide: true,
                    paging: true,
                    sort: true,
                    autoWidth: true,
                    ajax: {
                        url: "/HelpDesk/ManageTicket/GetRequesterList"
                    },
                    "columnDefs": [
                        {
                            "render": function (data, type, row) {
                                return '<a href="javascript:addSelectedUserToForm(\'' +
                                    row[0] + "\',\'" +
                                    row[1] +
                                    '\')">' +
                                    row[1] +
                                    '</a>';
                            },
                            "targets": 0
                        },
                        {
                            "render": function (data, type, row) {
                                return row[2];
                            },
                            "targets": 1
                        },
                        {
                            "render": function (data, type, row) {
                                return row[3];
                            },
                            "targets": 2
                        },
                        {
                            "render": function (data, type, row) {
                                return row[4];
                            },
                            "targets": 3
                        },
                        {
                            "render": function (data, type, row) {
                                return row[5];
                            },
                            "targets": 4
                        }
                    ]
                });
        }

        function addSelectedUserToForm(requesterId, requesterName) {
            $("#RequesterID").val(requesterId);
            $("#requester-name").val(requesterName);
            $("#modal-add-requester").modal("hide");
        }
    </script>
}

@if (ViewData.ModelState.Keys.Any(x => x == "ErrorKeyName"))
{ @Html.ValidationSummary(true, "") }