@model TMS.Models.Ticket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/TMSLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpactDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpactDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnapproveReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnapproveReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolvedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolvedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser2.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser2.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser3.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser3.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Impact.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Impact.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urgency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urgency.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
