@using TMS.Utils
@model TMS.ViewModels.TicketViewModel
@{
    Layout = "~/Areas/HelpDesk/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "Ticket Management";
}
<link rel="stylesheet" href="~/Content/custom-css/ticket-detail.css" />

<style>
    mark {
        background: orange;
        color: black;
        padding: 0;
    }

    .big-label {
        font-size: 16px;
        font-weight: bold;
    }

    .big-textbox {
        width: 400px;
        font-size: 16px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h4 class="box-title">Edit Ticket</h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form class="form-horizontal" role="form" id="form-edit-ticket" method="POST">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="col-md-offset-2 col-xs-offset-1 col-md-8 col-xs-10">
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">SUBJECT <font color="red">*</font></label>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
                                <a href="javascript:void(0)" id="refer-older-ticket-link">Refer older tickets</a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">STATUS</label>
                                <div id="div-status"></div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">LAST MODIFIED</label>
                                <div><label name="ModifiedTime" style="font-weight: normal;">@Model.ModifiedTime</label></div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">DESCRIPTION</label>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control textarea", placeholder = "Description", rows = "10" })
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <input class="form-control" type="file" id="descriptionFiles" name="descriptionFiles" multiple>
                                <div style="height: auto; margin-top: 5px;">
                                    @for (int i = 0; i < Model.DescriptionAttachments.Count; i++)
                                    {
                                        <div class="attachment-div" style="display: inline;">
                                            @Html.HiddenFor(it => Model.DescriptionAttachments[i].id)
                                            @Html.HiddenFor(it => Model.DescriptionAttachments[i].name)
                                            <label class="attachments btn-xs btn-primary btn-flat" data-id="@Model.DescriptionAttachments[i].id">@Model.DescriptionAttachments[i].name</label>
                                            <span class='attachment-delete'> x </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">REQUESTER <font color="red">*</font></label>
                                <input type="hidden" id="requesterId" name="RequesterId" value="@Model.RequesterId">
                                <div class="requester-input-group" style="width: 100%">
                                    <input class="form-control" id="requesterName" name="Requester" type="text" value="@Model.Requester" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">DEPARTMENT</label>
                                <select class="form-control" name="DepartmentId" data-role="ddl-department"></select>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">TECHNICIAN</label>
                                <select class="form-control" name="TechnicianId" data-role="ddl-technician"></select>
                            </div>
                        </div>
                        <div id="hidden-div"></div>
                        <div class="row form-group">
                            <div class="col-md-4 col-xs-4">
                                <label class="control-label">IMPACT</label>
                                <select class="form-control" name="ImpactId" data-role="ddl-impact"></select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="control-label">URGENCY</label>
                                <select class="form-control" name="UrgencyId" data-role="ddl-urgency"></select>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label class="control-label">PRIORITY</label>
                                <select class="form-control" name="PriorityId" data-role="ddl-priority"></select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">IMPACT DETAIL</label>
                                @Html.TextAreaFor(m => m.ImpactDetail, new { @class = "form-control", placeholder = "Impact Detail", rows = "4" })
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">TYPE</label>
                                <select class="form-control" name="Type">
                                    <option value="0">None</option>
                                    <option value="1">Request</option>
                                    <option value="2">Problem</option>
                                    <option value="3">Change</option>
                                </select>
                                <label class="control-label">MODE <font color="red">*</font></label>
                                <select class="form-control" name="Mode">
                                    <option value="@ConstantUtil.TicketMode.PhoneCall">@ConstantUtil.TicketModeString.PhoneCall</option>
                                    <option value="@ConstantUtil.TicketMode.WebForm">@ConstantUtil.TicketModeString.WebForm</option>
                                    <option value="@ConstantUtil.TicketMode.Email">@ConstantUtil.TicketModeString.Email</option>
                                    <option value="@ConstantUtil.TicketMode.SocialNetwork">@ConstantUtil.TicketModeString.SocialNetwork</option>
                                    <option value="@ConstantUtil.TicketMode.Forum">@ConstantUtil.TicketModeString.Forum</option>
                                    <option value="@ConstantUtil.TicketMode.Other">@ConstantUtil.TicketModeString.Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">CATEGORY</label>
                                <select class="form-control" name="CategoryId" data-role="ddl-category"></select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">SCHEDULE START DATE</label>
                                @Html.TextBoxFor(m => m.ScheduleStartDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control datetimep" })
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">SCHEDULE END DATE</label>
                                @Html.TextBoxFor(m => m.ScheduleEndDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control datetimep" })
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">ACTUAL START DATE</label>
                                @Html.TextBoxFor(m => m.ActualStartDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control datetimep" })
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">ACTUAL END DATE</label>
                                @Html.TextBoxFor(m => m.ActualEndDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control datetimep" })
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">DUE BY DATE</label>
                                @Html.TextBoxFor(m => m.DueByDate, "{0:dd/MM/yyyy HH:mm}", new { @class = "form-control datetimep" })
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">CREATED BY</label>
                                <input type="hidden" id="createdId" name="CreatedId" value="@Model.CreatedId">
                                <input type="text" class="form-control" name="CreatedBy" id="createdBy" value="@Model.CreatedBy" readonly />
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">CREATED DATE</label>
                                <input type="text" class="form-control" name="CreatedTime" value="@Model.CreatedTime" readonly />
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">SOLVED BY</label>
                                <input type="hidden" id="solveId" name="solveId" value="@Model.SolvedId">
                                <input type="text" class="form-control" name="SolvedBy" id="solveBy" value="@Model.SolvedBy" readonly />
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label class="control-label">SOLVED DATE</label>
                                @Html.TextBoxFor(m => m.SolvedDate, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">SOLUTION</label>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                @Html.TextAreaFor(m => m.Solution, new { @class = "form-control textarea", placeholder = "Solution", rows = "10" })
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <input class="form-control" type="file" id="solutionFiles" name="solutionFiles" multiple>
                                <div style="height: 20px; margin-top: 5px;">
                                    @for (int i = 0; i < Model.SolutionAttachments.Count; i++)
                                    {
                                        <div class="attachment-div" style="display: inline;">
                                            @Html.HiddenFor(it => Model.SolutionAttachments[i].id)
                                            @Html.HiddenFor(it => Model.SolutionAttachments[i].name)
                                            <label class="attachments btn-xs btn-primary btn-flat" data-id="@Model.SolutionAttachments[i].id">@Model.SolutionAttachments[i].name</label>
                                            <span class='attachment-delete'> x </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">TAGS</label>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", id = "tags" })
                                <a href="javascript:generateTags()">Generate tags</a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 col-xs-12">
                                <label class="control-label">NOTE</label>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control textarea", placeholder = "Note", rows = "5" })
                            </div>
                        </div>
                        <div class="row form-group" style="text-align: center;">
                            <div class="form-error-messages" data-role="group-form-error"></div>
                        </div>
                        <div class="row">
                            <div class="form-group " style="text-align: center;">
                                <input type="button" value="Update" data-role="btn-update-ticket" class="btn btn-default bg-olive btn-flat" />
                                <input type="button" value="Cancel" data-role="btn-cancel" class="btn btn-default btn-flat" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-1"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-add-requester" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select requester</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" id="requester-table">
                    <thead>
                        <tr>
                            <th style="width: 30%;">Name</th>
                            <th style="width: 20%;">Email</th>
                            <th style="width: 25%;">Department</th>
                            <th style="width: 15%;">Phone</th>
                            <th style="width: 10%;">Job</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="older-tickets-modal" class="modal" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Refer older tickets</h4>
            </div>
            <div class="modal-body" style="min-height: 400px;">
                <div style="text-align: center">
                    <span class="big-label">Keyword:</span> <input type="text" id="refer-older-tickets-search" class="big-textbox" />
                </div>
                <table class="table dataTable" id="older-tickets-table">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Subject</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="detail-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="ticket-subject"></h4>
            </div>
            <div class="modal-body detail-modal-body">
                <div class="ticket-contents" id="collapse-parent">
                    <div class="box box-solid">
                        <div class="box-header with-border collapsed" data-toggle="collapse" data-target="#detail-box" data-parent="#collapse-parent">
                            <h2 class="box-title">
                                <i class="fa fa-info-circle header-content"></i>DETAIL
                            </h2>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body collapse" id="detail-box">
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-4 ">
                                    <div class="col-sm-6 labels">
                                        <b>Type: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-type"></span></div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="col-sm-6 labels">
                                        <b>Mode: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-mode"></span></div>
                                </div>
                                <div class="col-sm-4 " style="padding-left: 40px">
                                    <div class="col-sm-6 labels">
                                        <b>Status: </b>
                                    </div>
                                    <div class="col-sm-6" id="ticket-status"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-4 ">
                                    <div class="col-sm-6 labels">
                                        <b>Urgency: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-urgency"></span></div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="col-sm-6 labels">
                                        <b>Priority: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-priority"></span></div>
                                </div>
                                <div class="col-sm-4 " style="padding-left: 40px">
                                    <div class="col-sm-6 labels">
                                        <b>Impact: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-impact"></span></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-12 ">
                                    <div class="col-sm-2 labels">
                                        <b>Impact Detail: </b>
                                    </div>
                                    <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-impact-detail"></span></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-12">
                                    <div class="col-sm-2 labels">
                                        <b>Category: </b>
                                    </div>
                                    <div class="col-sm-10" style="padding-left: 10px"><span id="ticket-category"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-solid">
                        <div class="box-header with-border collapsed" data-toggle="collapse" data-target="#date-time-box" data-parent="#collapse-parent">
                            <h2 class="box-title">
                                <i class="fa fa-clock-o header-content"></i>DATE AND TIME
                            </h2>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body collapse" id="date-time-box">
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-6">
                                    <div class="col-sm-6 labels">
                                        <b>Created date: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-created-date"></span></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-6 labels">
                                        <b>Last modified date: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-modified-date"></span></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-6">
                                    <div class="col-sm-6 labels">
                                        <b>Scheduled start time: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-schedule-start"></span></div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="col-sm-6 labels">
                                        <b>Schedule end time: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-schedule-end"></span></div>
                                </div>
                            </div>

                            <div class="col-sm-12 row-content">
                                <div class="col-sm-6 ">
                                    <div class="col-sm-6 labels">
                                        <b>Actual start time: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-actual-start"></span></div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="col-sm-6 labels">
                                        <b>Actual end time: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-actual-end"></span></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-6">
                                    <div class="col-sm-6 labels">
                                        <b>Solved date: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-solved-date"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-solid">
                        <div class="box-header with-border" data-toggle="collapse" data-target="#information-box" data-parent="#collapse-parent">
                            <h2 class="box-title">
                                <i class="fa fa-file-text header-content"></i>INFORMATION
                            </h2>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body collapse in" id="information-box">
                            <div class="col-sm-12 row-content ">
                                <div class="col-sm-12">
                                    <div class="col-sm-2 labels">
                                        <b>Description: </b>
                                    </div>
                                    <div class="col-sm-10 pre-wrap" id="ticket-description" style="padding-left: 10px"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content ">
                                <div class="col-sm-12">
                                    <div class="col-sm-2 labels">
                                        <b>Solution: </b>
                                    </div>
                                    <div class="col-sm-10 pre-wrap" id="ticket-solution" style="padding-left: 10px"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content ">
                                <div class="col-sm-12">
                                    <div class="col-sm-2 labels">
                                        <b>Attachment: </b>
                                    </div>
                                    <div class="col-sm-10"><span id="ticket-attachment"></span></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content">
                                <div class="col-sm-4 ">
                                    <div class="col-sm-6 labels">
                                        <b>Department: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-department"></span></div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="col-sm-6 labels">
                                        <b>Technician: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-technician"></span></div>
                                </div>
                            </div>
                            <div class="col-sm-12 row-content ">
                                <div class="col-sm-4">
                                    <div class="col-sm-6 labels">
                                        <b>Created by: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-created-by"></span></div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="col-sm-6 labels">
                                        <b>Assigned by: </b>
                                    </div>
                                    <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-assigned-by"></span></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-6 labels" style="padding-left: 30px">
                                        <b>Solved by: </b>
                                    </div>
                                    <div class="col-sm-6"><span id="ticket-solved-by"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-primary" data-role="refer-older-ticket" id="refer-older-ticket-btn">Refer</button>
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="older-tickets-confirm-modal" class="modal fade" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Are you sure you want to refer this ticket?</h4>
            </div>
            <div class="modal-body">
                <p>
                    This ticket's information will be filled to your working ticket's information.<br />
                    All inputted information can be replaced.
                </p>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-flat btn-primary" id="refer-older-ticket-confirm-btn"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                <button type="button" class="btn btn-flat btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/helpdesk-manage-ticket")
    <script src="~/Content/Plugins/mark/jquery.mark.min.js"></script>
    <script src="~/Content/Plugins/tagit/tag-it.min.js"></script>
    <script>

        var requesterTable = null;

        $("[data-role=btn-cancel]")
            .on("click",
                function() {
                    window.location.href = "/HelpDesk/ManageTicket";
                });


        $("[data-role=btn-update-ticket]").on("click",function() {
            if (!checkUploadFile()) {
                return;
            }
            $("[data-role=btn-update-ticket]").prop('disabled', true);
            $("[data-role=btn-cancel]").prop("disabled", true);
            var formData = new FormData($("#form-edit-ticket")[0]);
            var dict = new Array();
            $(".attachments")
                .each(function(index) {
                    dict.push({
                        "id": $(".attachments")[index].getAttribute("data-id"),
                        "name": $(".attachments")[index].textContent
                    });
                });
            $.ajax({
                "url": "/HelpDesk/ManageTicket/UpdateTicket",
                "method": "POST",
                "data": formData,
                "success": function(data) {
                    if (data.success) {
                        noty({
                            text: "Ticket was updated successfully!",
                            layout: "topCenter",
                            type: "success",
                            timeout: 300,
                            callback: {
                                onClose: function() {
                                    window.location.href = "/HelpDesk/ManageTicket";
                                }
                            }
                        });
                    } else {
                        $("[data-role=btn-update-ticket]").prop("disabled", false);
                        $("[data-role=btn-cancel]").prop("disabled", false);
                        noty({
                            text: data.msg,
                            type: "error",
                            layout: "topRight",
                            timeout: 2000
                        });
                        $("#form-edit-ticket [data-role=group-form-error]").html("");
                        $("#form-edit-ticket [data-role=group-form-error]")
                        .append($("<p/>",
                        {
                            "html": $("<font/>",
                            {
                                "color": "red",
                                "html": "*" + data.msg
                            })
                        }));
                    }
                },
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                error: function(e) {
                    $("[data-role=btn-update-ticket]").prop('disabled', false);
                    $("[data-role=btn-cancel]").prop("disabled", false);
                    noty({
                        text: "Cannot connect to server!",
                        type: "error",
                        layout: "topRight",
                        timeout: 2000
                    });
                }
            });
        });

        function initDropdownControl() {
            initUrgencyDropdown({
                control: $("[data-role=ddl-urgency]"),
                ignore: function() {
                    return [];
                }
            });
            initPriorityDropdown({
                control: $("[data-role=ddl-priority]"),
                ignore: function() {
                    return [];
                }
            });
            initImpactDropdown({
                control: $("[data-role=ddl-impact]"),
                ignore: function() {
                    return [];
                }
            });
            initDepartmentDropdown({
                control: $("[data-role=ddl-department]"),
                ignore: function() {
                    return [];
                }
            });
            initCategoryDropdown({
                control: $("[data-role=ddl-category]"),
                ignore: function() {
                    return [];
                }
            });
            initTechnicianDropdown({
                control: $("[data-role=ddl-technician]"),
                ignore: function() {
                    return [];
                }
            });
        }

        function showRequester() {
            requesterTable.fnDraw();
            $("#modal-add-requester").modal("show");
        }

        function addSelectedUserToForm(requesterId, requesterName) {
            $("#requesterId").val(requesterId);
            $("#requesterName").val(requesterName);
            $("#modal-add-requester").modal("hide");
        }

        function loadEditData() {
            $("#hidden-div").empty();

            if ((@Model.Mode == @ConstantUtil.TicketMode.WebForm) || (@Model.Mode == @ConstantUtil.TicketMode.Email)) {
                $('[name="Subject"]').prop("readonly", true);
                $('[name="Description"]').prop("readonly", true);
                $('[name="descriptionFiles"]').prop("disabled", true);
                $('[name="Mode"]').prop("disabled", true);
                $('#hidden-div').append('<input type="hidden" name="Mode" value="@Model.Mode" />');
            };

            $("#div-status").html(getStatusLabel('@Model.Status'));
            $("[name='Type']").val(@Model.Type);
            $("[name='Mode']").val(@Model.Mode);
            loadInitDropdown('ddl-urgency', '@(Model.UrgencyId == 0 ? "None" : Model.Urgency)', @Model.UrgencyId);
            loadInitDropdown('ddl-priority', '@(Model.PriorityId == 0 ? "None" : Model.Priority)', @Model.PriorityId);
            loadInitDropdown('ddl-impact', '@(Model.ImpactId == 0 ? "None" : Model.Impact)', @Model.ImpactId);
            loadInitDropdown('ddl-category', '@(Model.CategoryId == 0 ? "None" : Model.Category)', @Model.CategoryId);
            loadInitDropdown('ddl-department', '@(Model.DepartmentId == 0 ? "Chooose Department" :@Model.Department)', @Model.DepartmentId);
            loadInitDropdown('ddl-technician', '@Model.Technician', '@Model.TechnicianId');

            if ((@Model.StatusId != @ConstantUtil.TicketStatus.Open) &&
                (@Model.StatusId != @ConstantUtil.TicketStatus.Assigned)) {
                $('[name="DepartmentId"]').prop('disabled', true);
                $('[name="TechnicianId"]').prop('disabled', true);
                $('#hidden-div').append('<input type="hidden" name="TechnicianId" value="@Model.TechnicianId" />');
            }
        }

        $("[data-role='ddl-department']")
            .on("change",
                function() {
                    $("[data-role='ddl-technician']").select2("val", "");
                });

        $(".attachment-delete")
            .on("click",
                function () {
                    var inputs = $(this).parent().find(':input');
                    inputs.each(function (index, element) {
                        element.value = "";
                    });
                    $(this).parent().addClass("hidden");
                });

        $(document)
            .ready(function() {
                setActiveTicketMenu();
                requesterTable = initRequesterTable($("#requester-table"));
                initDropdownControl();
                loadEditData();
                initOlderTicketsTable();
                $("#tags").tagit();
            });
    </script>
}