@{
    Layout = "~/Areas/Technician/Views/Shared/_Layout.cshtml";
}

<style>
    .title {
        margin-top: -20px;
        margin-bottom: 12px;
    }

    .btitle {
        display: table;
    }

    .table thead, h4 {
        color: #1074bd;
        font-weight: bold;
    }

    h5 {
        color: #171fb0;
        font-weight: bold;
    }

    .white-title {
        text-transform: uppercase;
        font-weight: bold;
        display: table-cell;
        padding: 8px;
        vertical-align: middle;
        color: #ffffff;
    }

    .rightItems {
        text-align: right;
    }

    .modal-title {
        color: #ffffff;
        text-align: center;
    }

    .ticket-contents {
        padding: 0px;
        margin-bottom: 20px;
    }

    .modal-header {
        background-color: #1074bd;
    }

    .modal-footer {
        text-align: center;
    }
        
    .header-content {
        background-color: #c9e0fa;
        padding: 0px 10px 0px 25px;
        margin: 4px;
    }

    .row-content {
        padding: 3px 0px;
    }
    
    input {
        max-height: 400px;
    }

    #ticket-description, #ticket-solution {
        white-space: pre-wrap;
    }

    .pre-wrap {
        white-space: pre-wrap;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid bg-blue title">
            <div class="box-header btitle">
                <h3 class="white-title">TICKET LIST</h3>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header"></div>
            <div class="box-body">
                <div class="pull-right" style="margin-right: 20px">
                    <label>Status:</label>
                    <select id="filter-by-status">
                        <option value="1">All</option>
                        <option value="2">Assigned</option>
                        <option value="3">Solved</option>
                        <option value="4">Unapproved</option>
                        <option value="5">Cancelled</option>
                        <option value="6">Closed</option>
                    </select>&nbsp;&nbsp;
                    <label>Search:</label>
                    <input type="text" id="search-txt" />
                </div>
                <table class="table" id="ticket-table">
                    <thead>
                        <tr>
                            <th>Create Date</th>
                            <th>Requester</th>
                            <th>Subject</th>
                            <th style="max-width: 250px">Solution</th>
                            <th>Status</th>
                            <th>Last Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <!-- View ticket detail modal -->
                <div id="detail-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="ticket-subject"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="box-body ticket-contents">
                                    <div class="col-sm-12 header-content">
                                        <h5><i class="fa fa-clock-o"></i>  Date and time</h5>
                                    </div>
                                    <div class="col-sm-12 row-content">
                                        <div class="col-sm-6">
                                            <div class="col-sm-5 labels"><b>Created date: </b></div>
                                            <div class="col-sm-7"><span id="ticket-created-date"></span></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-5 labels"><b>Last modified date: </b></div>
                                            <div class="col-sm-7"><span id="ticket-modified-date"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row-content">
                                        <div class="col-sm-6">
                                            <div class="col-sm-5 labels"><b>Scheduled start time: </b></div>
                                            <div class="col-sm-7"><span id="ticket-schedule-start"></span></div>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="col-sm-5 labels"><b>Schedule end time: </b></div>
                                            <div class="col-sm-7"><span id="ticket-schedule-end"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row-content">
                                        <div class="col-sm-6 ">
                                            <div class="col-sm-5 labels"><b>Actual start time: </b></div>
                                            <div class="col-sm-7"><span id="ticket-actual-start"></span></div>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="col-sm-5 labels"><b>Actual end time: </b></div>
                                            <div class="col-sm-7"><span id="ticket-actual-end"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 header-content">
                                        <h5><i class="fa fa-file-text"></i> Information</h5>
                                    </div>
                                    <div class="col-sm-12 row-content ">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2 labels"><b>Description: </b>
                                            </div>
                                            <div class="col-sm-10 pre-wrap" id="ticket-description" style="padding-left: 10px"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row-content ">
                                        <div class="col-sm-12">
                                            <div class="col-sm-2 labels"><b>Solution: </b>
                                            </div>
                                            <div class="col-sm-10 pre-wrap" id="ticket-solution" style="padding-left: 10px"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row-content ">
                                        <div class="col-sm-6 ">
                                            <div class="col-sm-4 labels"><b>Attachment: </b>
                                            </div>
                                            <div class="col-sm-8"><span id="ticket-attachment">None</span></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-4 labels"><b>Created by: </b>
                                            </div>
                                            <div class="col-sm-8"><span id="ticket-created-by"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row-content ">
                                        <div class="col-sm-6 ">
                                            <div class="col-sm-4 labels"><b>Assigned by: </b>
                                            </div>
                                            <div class="col-sm-8"><span id="ticket-assigned-by"></span></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-4 labels"><b>Solved by: </b>
                                            </div>
                                            <div class="col-sm-8"><span id="ticket-solved-by"></span></div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 header-content">
                                        <h5><i class="fa fa-info-circle"></i> Detail</h5>
                                    </div>
                                    <div class="col-sm-12 row-content">
                                        <div class="col-sm-4 ">
                                            <div class="col-sm-6 labels"><b>Type: </b>
                                            </div>
                                            <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-type"></span></div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <div class="col-sm-6 labels"><b>Mode: </b>
                                            </div>
                                            <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-mode"></span></div>
                                        </div>
                                        <div class="col-sm-4 " style="padding-left: 40px">
                                            <div class="col-sm-6 labels"><b>Status: </b>
                                            </div>
                                            <div class="col-sm-6"><span id="ticket-status"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row-content">
                                        <div class="col-sm-4 ">
                                            <div class="col-sm-6 labels"><b>Category: </b>
                                            </div>
                                            <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-category"></span></div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <div class="col-sm-6 labels"><b>Urgency: </b>
                                            </div>
                                            <div class="col-sm-6" style="padding-left: 30px"><span id="ticket-urgency"></span></div>
                                        </div>
                                        <div class="col-sm-4 " style="padding-left: 40px">
                                            <div class="col-sm-6 labels"><b>Priority: </b>
                                            </div>
                                            <div class="col-sm-6"><span id="ticket-priority"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 row-content">
                                        <div class="col-sm-4 ">
                                            <div class="col-sm-6 labels"><b>Impact: </b>
                                            </div>
                                            <div class="col-sm-6" style="padding-left: 19px"><span id="ticket-impact"></span></div>
                                        </div>
                                        <div class="col-sm-8 ">
                                            <div class="col-sm-3 labels"><b>Impact Detail: </b>
                                            </div>
                                            <div class="col-sm-9" style="padding-left: 22px"><span id="ticket-impact-detail"></span></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            @*<div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>*@
                        </div>

                    </div>
                </div>
                <!-- Het detail-->
            </div>
        </div>
        <a href="@(Url.Action("Index", "Home"))">
            <i class="fa fa-reply fa-1x" aria-hidden="true"></i>
            Back to Homepage
        </a>
    </div>
</div>

@Styles.Render("~/Content/datatables")
@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script>
        setActiveTicketMenu();
        var initDataTable = function () {
            $("#ticket-table").DataTable({
                processing: true,
                serverSide: true,
                paging: true,
                sort: true,
                lengthChange: false,
                filter: false,
                ajax: {
                    url: "/Technician/ManageTicket/GetTechnicianTickets",
                    data: function (d) {
                        d.select_status = $("#filter-by-status").val(),
                        d.search_text = $("#search-txt").val()
                    }
                },
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return row[0];
                        },
                        "targets": 0
                    },
                    {
                        "render": function (data, type, row) {
                            return row[1];
                        },
                        "targets": 1
                    },
                    {
                        "render": function (data, type, row) {
                            return '<a href="#" class="view-detail" data-id=' + row[6] + '>' + row[2] + '</a>';
                        },
                        "targets": 2
                    },
                    {
                        "render": function (data, type, row) {
                            return row[3] == null ? "None" : "<span class='pre-wrap'>" + (row[3]) + "</span>";
                        },
                        "sortable": false,
                        "targets": 3
                    },
                    {
                        "render": function (data, type, row) {
                            if (row[4] == 2) {
                                return "<label class='label label-warning'>Assigned</label>";
                            } else if (row[4] == 3) {
                                return "<label class='label label-success'>Solved</label>";
                            } else if (row[4] == 4) {
                                return "<label class='label label-danger'>Unapproved</label>";
                            } else if (row[4] == 5) {
                                return "<label class='label label-default'>Cancelled</label>";
                            } else if (row[4] == 6) {
                                return "<label class='label label-default'>Closed</label>";
                            }
                        },
                        "sortable": false,
                        "targets": 4
                    },
                    {
                        "render": function (data, type, row) {
                            return row[5];
                        },
                        "targets": 5
                    },


                    {
                        "render": function (data, type, row) {
                            var solveUrl = '@Url.Action("Solve", "ManageTicket")/' + row[6];
                            if (row[4] == 2) {
                                return "<a href='" + solveUrl + "' class='btn btn-primary' >Solve</a>";
                            }
                            else {
                                return "<a class='btn btn-default' disabled>Solve</a>";
                            }
                        },
                        "sortable": false,
                        "targets": 6
                    }]
            });
        }

        var reloadDataTable = function () {
            var oTable = $("#ticket-table").dataTable();
            oTable.api().ajax.reload();
        };

        $(document).ready(function () {
            initDataTable();
        });

        $("#search-txt").keyup(function () {
            reloadDataTable();
        });

        $("#filter-by-status").change(function () {
            reloadDataTable();
        });

        $("#ticket-table").on("click", ".view-detail", function () {
            var id = $(this).attr('data-id'),
                $modal = $('#detail-modal');

            $.ajax({
                url: '@Url.Action("GetTicketDetail", "Ticket", new { area=""})',
                type: "GET",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (data) {
                    var solveUrl = '@Url.Action("Solve", "Ticket", new { area = "" })/' + data.id;

                    $('#ticket-subject').text("Subject: " + data.subject);
                    $('#ticket-description').text(data.description);
                    $('#ticket-created-by').text(data.creater);
                    $('#ticket-assigned-by').text(data.assigner);
                    $('#ticket-solved-by').text(data.solver);
                    $('#ticket-type').text(data.type);
                    $('#ticket-mode').text(data.mode);
                    $('#ticket-urgency').text(data.urgency);
                    $('#ticket-priority').text(data.priority);
                    $('#ticket-category').text(data.category);
                    $('#ticket-impact').text(data.impact);
                    $('#ticket-impact-detail').text(data.impactDetail);

                    
                    if (data.status == 2) {
                        $('#ticket-status').text('Assigned');
                        if (data.solution == "None") {
                            $('#ticket-solution').empty().append("<p><i>This ticket is not solved yet. Would you like to solve it now? </i>"
                                                        + "<a class='btn-sm btn-primary' href='" + solveUrl + "'>Yes</a>"
                                                        + "<a class='btn-sm btn-default' data-toggle='modal' data-dismiss='modal'>No</a></p>");
                        }
                        else {
                            $('#ticket-solution').empty().append("<p>" + data.solution + "</p>");
                        }
                    }
                    else {
                        if (data.status == 3) {
                            $('#ticket-status').text('Solved');
                        } else if (data.status == 4) {
                            $('#ticket-status').text('Unapproved');
                        } else if (data.status == 5) {
                            $('#ticket-status').text('Cancelled');
                        } else if (data.status == 6) {
                            $('#ticket-status').text('Closed');
                        }
                        $('#ticket-solution').empty().append("<p>" + data.solution + "</p>");
                    }

                    $('#ticket-created-date').text(data.createdDate);
                    $('#ticket-modified-date').text(data.lastModified);
                    $('#ticket-schedule-start').text(data.scheduleStart);
                    $('#ticket-schedule-end').text(data.scheduleEnd);
                    $('#ticket-actual-start').text(data.actualStart);
                    $('#ticket-actual-end').text(data.actualEnd);

                    $('#ticket-solveUser').text(data.solveUser);

                    $modal.modal("show");
                },
                failure: function (data) {
                    alert(data.d);
                }
            });

        });

    </script>
}




