<!doctype html>
<html lang="en-US">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Base</title>

    <!-- Style Sheet-->
    <link rel='stylesheet' id='style-css' href='~/Content/knowledgebase/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css-css' href='~/Content/knowledgebase/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css' href='~/Content/knowledgebase/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css' href='~/Content/knowledgebase/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='blue-skin-css' href='~/Content/knowledgebase/css/blue-skin5152.css?ver=1.0' type='text/css' media='all' />

</head>
<body>
    <!-- Start of Header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="@ViewBag.Home">
                        <span style="font-size: 30px; "><b>TMS</b></span>
                    </a>
                    <span style="color: white">Knowledge Base</span>
                </div>

                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="@ViewBag.ItemLink1">@ViewBag.Item1</a></li>
                            <li><a href="@ViewBag.ItemLink2">@ViewBag.Item2</a></li>
                            <li><a href="@ViewBag.Profile">@(ViewBag.Profile != null ? "Profile" : "")</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->
            </div>
        </header>
    </div>
    <!-- End of Header -->
    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container">
            <h3 class="search-header">Have a Question?</h3>
            <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>
            <form class="search-form clearfix" action="/FAQ/Index" method="GET">
                <input class="search-term required" name="search" type="text" id="search-solution" placeholder="Type your search terms here" />
                <input class="search-btn" id="btn-search-solution" type="submit" value="Search" />
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- End of Search Wrapper -->
    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- End of Page Container -->
    <!-- Start of Footer -->
    <footer id="footer-wrapper" style="bottom: 0; margin: 0 auto;">
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright © 2016. All Rights Reserved by Group 4.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->
    </footer>
    <!-- End of Footer -->
    <a href="#top" id="scroll-top"></a>
    <!-- script -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
