@using TMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<head>
    <title>Login Page</title>
    @Styles.Render("~/Content/login_css")
    <style>
        #forget-password-form {
            display: none;
        }
    </style>
</head>
<body>
    <div class="login-page">
        <div class="form">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "username" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" id="login-btn" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "message" })
                        </div>
                    </div>
                </div>
                <p class="message">Forget password? <a href="javascript:void(0)">Click here</a></p>
            }
            <form id="forget-password-form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" id="forget-email" class="form-control" placeholder="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" id="forget-password-btn" />
                    </div>
                </div>
                <p class="message"><a href="javascript:void(0)">Back</a></p>
            </form>
        </div>
    </div>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Content/js/jquery.noty.packaged.js"></script>
<script>
    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });

    $("#forget-password-form").on("submit", function (e) {
        e.preventDefault();
        var email = $("#forget-email").val();
        $.ajax({
            url: "/Account/ResendForgetPassword",
            type: "GET",
            dataType: "json",
            data: {
                email: email
            },
            success: function (data) {
                if (data.success) {
                    noty({
                        text: data.message,
                        layout: "topCenter",
                        type: "success",
                        timeout: 2000
                    });
                    $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
                } else {
                    noty({
                        text: data.message,
                        type: "error",
                        layout: "topRight",
                        timeout: 2000
                    });
                }
            },
            error: function () {
                noty({
                    text: "Cannot connect to server!",
                    layout: "topRight",
                    type: "error",
                    timeout: 2000
                });
            }
        });
    });
</script>