@using TMS.Models
@using TMS.Utils
@model TMS.ViewModels.KnowledgeBaseViewModel
@{
    ViewBag.Title = "Edit Knowledge Base";
}
@{
    if (ViewBag.LayoutRole == ConstantUtil.UserRoleString.HelpDesk)
    {
        Layout = "~/Areas/HelpDesk/Views/Shared/_TopLayout.cshtml";
    }
    else if (ViewBag.LayoutRole == ConstantUtil.UserRoleString.Technician)
    {
        Layout = "~/Areas/Technician/Views/Shared/_TopLayout.cshtml";
    }
}
<link rel="stylesheet" href="~/Content/Plugins/tagit/jquery.tagit.css" />

<style>
    h4, h5 {
        color: #345aaa;
        font-weight: bold;
    }

    .inputform {
        padding: 20px;
    }

    input, textarea, select {
        max-width: 674px;
    }

    .required {
        color: #ff0000;
    }

    .select2 {
        width: 674px !important;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            @using (Html.BeginForm("Edit", "KnowledgeBase", new { id = ViewBag.ID }, FormMethod.Post, new { @class = "form-horizontal inputform", role = "form", enctype = "multipart/form-data", onsubmit = "return checkUploadFile();" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="control-label col-md-2">Subject&nbsp;<span class="required">*</span></label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", id = "subject-txt" })
                        @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="description">
                    <label class="control-label col-md-2">Content</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "content-area", rows = "15" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Attach file</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="SolutionAttachments" name="SolutionAttachments" multiple>
                        @if (Model.SolutionAttachmentsList != null)
                        {
                            <div style="height: auto; margin-top: 5px;">
                                @for (int i = 0; i < Model.SolutionAttachmentsList.Count(); i++)
                                {
                                    <div class="attachment-div" style="display: inline;">
                                        @Html.HiddenFor(it => Model.SolutionAttachmentsList[i].id)
                                        @Html.HiddenFor(it => Model.SolutionAttachmentsList[i].name)
                                        <label class="attachments btn-xs btn-primary btn-flat" data-id="@Model.SolutionAttachmentsList[i].id">@Model.SolutionAttachmentsList[i].name</label>
                                        <span class='attachment-delete'> x </span>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Keywords</label>
                    <div class="col-md-10" style="max-width: 704px;">
                        @Html.TextBoxFor(m => m.Keywords, new { @class = "form-control", id = "keyword" })
                        @Html.ValidationMessageFor(m => m.Keywords, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Topic&nbsp;<span class="required">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control" name="CategoryID" data-role="ddl-category"></select><br />
                        @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Path&nbsp;<span class="required">*</span></label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Path, new { @class = "form-control", id = "path" })
                        @Html.ValidationMessageFor(m => m.Path, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="saveBtn" value="Save" class="btn btn-primary btn-flat" />
                        <a class="btn btn-default btn-flat" href="@(Url.Action("Index", "KnowledgeBase"))">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Plugins/tagit/tag-it.min.js"></script>
    <script src="~/Content/custom-js/knowledgebase.js"></script>
    <script>
        $(document)
            .ready(function() {
                $('#content-area').wysihtml5();
                $("#keyword").tagit({
                    allowSpaces: true,
                    autocomplete: {
                        source: "/Ticket/GetKeywords",
                    }
                });
                initCategoryDropdown({
                    control: $("[data-role=ddl-category]"),
                    ignore: function() {
                        return [];
                    }
                });
                loadInitDropdown('ddl-category', '@(Model.CategoryID == 0 ? "--Chooose Category--" : @Model.Category)',
                    @Model.CategoryID);
                @if (Model != null)
                {
                    if (Model.CategoryID != 0 && Model.Category != null)
                    {
                        <text>
                loadInitDropdown('ddl-category', '@Model.Category', '@Model.CategoryID');
                </text>
                    }
                }

            });

        $("#subject-txt")
            .keyup(function() {
                getPath();
            });


        $(".attachment-delete")
        .on("click",
            function () {
                var inputs = $(this).parent().find(':input');
                inputs.each(function (index, element) {
                    element.value = "";
                });
                $(this).parent().addClass("hidden");
            });
    </script>
}
