@model TMS.ViewModels.ProfileTechnicianViewModel
@{
    Layout = "~/Areas/Technician/Views/Shared/_TopLayout.cshtml";
    ViewBag.Title = "Profile";
}
<link rel="stylesheet" type="text/css" href="~/Content/custom-css/profile.css">

<div class="row" style="padding-top: 15px">
    <div class="col-sm-5 text-center">
        <div class="row"><img src="@ViewBag.AvatarURL" class="img-circle" alt="Avatar Image" id="avatar-img" /></div>
        <div class="row" style="padding-top: 20px">
            @Html.ActionLink("Update Profile", "UpdateProfile", null, new { @class = "btn btn-transparent btn-flat" })
            @Html.ActionLink("Change Password", "ChangePassword", new { area = "" }, new { @class = "btn btn-transparent btn-flat" })
        </div>
    </div>
    <div class="col-sm-7" id="profile">
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Username</span></div>
            <div class="col-md-9 col-sm-8"><span class="profile-info">@ViewBag.Username</span></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Email</span></div>
            <div class="col-md-9 col-sm-8"><span class="profile-info">@Model.Email</span></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Fullname</span></div>
            <div class="col-md-9 col-sm-8"><span class="profile-info">@Model.Fullname</span></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Address</span></div>
            <div class="col-md-9 col-sm-8">
                @if (!string.IsNullOrWhiteSpace(Model.Address))
                {
                    <span class="profile-info">@Model.Address </span>
                }
                else
                {
                    <span class="profile-info"> - </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Phone Number</span></div>
            <div class="col-md-9 col-sm-8">
                @if (!string.IsNullOrWhiteSpace(Model.PhoneNumber))
                {
                    <span class="profile-info">@Model.PhoneNumber</span>
                }
                else
                {
                    <span class="profile-info"> - </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Birthday</span></div>
            <div class="col-md-9 col-sm-8">
                @if (Model.Birthday.HasValue)
                {
                    <span class="profile-info">@Model.Birthday.Value.ToString("MMMM dd, yyyy")</span>
                }
                else
                {
                    <span class="profile-info"> - </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Gender</span></div>
            <div class="col-md-9 col-sm-8">

                @if (Model.Gender.HasValue)
                {
                    if (Model.Gender.Value)
                    {
                        <span class="profile-info">Male</span>
                    }
                    else
                    {
                        <span class="profile-info">Female</span>
                    }
                }
                else
                {
                    <span class="profile-info"> - </span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4"><span class="profile-label">Group</span></div>
            <div class="col-md-9 col-sm-8">
                @if (!string.IsNullOrWhiteSpace(Model.GroupName))
                {
                    <span class="profile-info">@Model.GroupName </span>
                }
                else
                {
                    <span class="profile-info"> - </span>
                }
            </div>
        </div>
    </div>
</div>